/*    
		font-family: 'Days One', sans-serif;
*/

*{
	margin:0 ;
	padding: 0;
	font-family: arial;
}

header
{
	background-color: #6e010f;
	color: white;
}

#headerCenter
{
	width: 960px;
	margin: auto;
	height: 150px;
}

#headerCenter > h1
{
	font-family: 'Days One', sans-serif;
	font-size: 40px;
	line-height: 120px;
	vertical-align: center;
}

#headerCenter > nav ul
{
	width: 100%;
	color: black;
	
	background: linear-gradient(#fdfdfd, #bdbdbd);
	overflow: hidden;
}

#headerCenter > nav li
{
	float: left;
	list-style-type: none;
	height: 50px;
	line-height: 50px;
	vertical-align: center;
	margin: auto;
	font-size: 14px;
	font-weight: bold;
	padding: 0 53px;
}

#headerCenter > nav li:hover
{
	background-color: #bebcbc;
	cursor: pointer;
}

main
{
	width: 960px;
	margin: auto;
	margin-top: 20px;
}

footer
{
	margin-top: 30px;
	background-color: #6e010f;
	color: #b3999c;
}

#footerCenter
{
	width: 960px;
	margin: auto;
	overflow: hidden;
}


#footerCenter > section
{
	float: left;
	width: 50%;
}

#footerCenter h2
{
	font-family: 'Days One', sans-serif;
	color: white;
	font-size: 18px;
	padding-top: 50px;	
}

#sendMessage form
{
	width: 100%;
	margin-top: 20px;
}

#sendMessage form label
{
	display: block;
	float: left;
	width: 100px;
	text-align: right;
	font-size: 14px;
	padding-top: 10px;
	padding-right: 15px;

}

#sendMessage form input
{
	width: 345px;
	margin-bottom: 10px;
	padding: 10px;
	box-sizing: border-box;
}

#sendMessage form textarea
{
	width: 345px;
	resize: none;
	height: 100px;
	border: 0;
}

#sendMessage form [type=submit]
{
	width: 50px;
	height: 28px;
	background: linear-gradient(#fdfdfd, #bdbdbd);
	padding: 0;
	margin-left: 116px;
}

#contactDetails h2
{
	margin-bottom: 30px;
}


#contactDetails p
{
	line-height: 25px;
	display: block;
	width: 65px;
	float: left;
	font-size: 14px;
}

#contactDetails span
{
	padding-left: 10px;
	display: block;
	float: left;
	width: 400px;
	margin-bottom: 12px;
	line-height: 25px;
	font-size: 14px;
}

#contactDetails hr
{
	clear: both;
	margin-bottom: 12px;
	background-color: #8a0413; 
 	height: 1px; 
 	border: 0;
}

#contactDetails img
{
	margin-left: 20px;
}

#contactDetails .social
{
	padding-top: 5px;
}

[alt = twitter]:hover
{
	background: url(../img/socialMediaHover1.png);
}

[alt = facebook]:hover
{
	background: url(../img/socialMediaHover2.png);
}

[alt = google]:hover
{
	background: url(../img/socialMediaHover3.png);
}

.inConstruction:hover
{
	color: lightgrey;
	position: relative;
}

.inConstruction:hover::after
{
	color: red;
	content: 'IN CONSTRUCTION';
	position: absolute;
	left: 10px;
}


@media screen and (max-width: 960px)
{
	body
	{
		width: 960px;
	}
	p
	{
		font-size: 2em !important;
		line-height: 1.5em !important;
	}
	h4
	{
		font-size: 2em !important;
		line-height: 1.5em !important;
	}

}

